.game-board {
  display: block;
}

.board {
  margin-top: 5%;
}

.player-token {
  display: table-cell;
  vertical-align: middle;
}

.col-1,
.col-4,
.col-7 {
  margin-left: 5%;
}

.row-1,
.row-2,
.row-3 {
  display: inline-flex;
  width: 60%;
  height: 60px;
  margin-left: 35%;
  vertical-align: top;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  width: 10%;
  display: table;
}

.player-token:hover {
  cursor: pointer;
  background-color: grey;
}

.col-3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.col-2 {
  border-bottom: 1px solid black;
}

.col-1 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.col-4 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.col-5 {
  border-bottom: 1px solid black;
}

.col-6 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.col-8 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.restart-button {
  margin-top: 3%;
  border-style: none;
  height: 30px;
  width: 200px;
  color: whitesmoke;
  background-color: gray;
  font-family: 'Space Mono', monospace;
}

.restart-button:hover {
  cursor: pointer;
  background-color: black;
}

.hide {
  display: none;
}

.completed-line-vertical {
  border: 1px solid black;
  z-index: 1;
  position: fixed;
  margin-left: 2.8%;
  animation-name: win-line-vertical;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes win-line-vertical {
  0% {
    height: 10px;
  }
  25% {
    height: 45px;
  }
  50% {
    height: 90px;
  }
  75% {
    height: 135px;
  }
  100% {
    height: 180px;
  }
}

.completed-line-horizontal {
  border: 1px solid black;
  z-index: 1;
  position: fixed;
  margin-top: 3.5%;
  animation-name: win-line-horizontal;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes win-line-horizontal {
  0% {
    width: 0%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 17.5%;
  }
}

.completed-line-diagonal-top {
  border: 1px solid black;
  z-index: 1;
  position: fixed;
  animation-name: win-line-diagonal-top;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes win-line-diagonal-top {
  from {
    width: 10px;
    margin-top: 1%;
    transform: rotate(45deg);
  }
  to {
    width: 215px;
    margin-top: 11%;
    margin-left: -5%;
    transform: rotate(51deg);
  }
}

.completed-line-diagonal-bottom {
  border: 1px solid black;
  z-index: 1;
  position: fixed;
  animation-name: win-line-diagonal-bottom;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes win-line-diagonal-bottom {
  from {
    width: 10px;
    margin-top: 6%;
    transform: rotate(129deg);
  }
  to {
    width: 215px;
    margin-top: -3.2%;
    margin-left: -5%;
    transform: rotate(129deg);
  }
}